header {
    padding-top: 5rem;;
    padding-bottom: 5rem;
    padding-left: 6rem;
    background-color: #584343;
}

header h1 {
    color: #fff;
    text-transform: uppercase;
}


header a {
    text-decoration: none;
}

.header_container {
    max-width: 960px;
    margin: auto;
}