.user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    margin-bottom: 5;
    /* bottom: 4;
    transform: translateY(90%); */
    cursor: pointer;
    
}

.user-info__avatar {
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: transform 500ms ease;
}

.user-info__avatar:hover {
    transform: scale(1.3);
}

.user-info__username {
    color: #584343;
}